In [1]:
train_path = 'C:\\Users\\Administrator\\Desktop\\Code_Test\\Research\\Surveys-Missing-Data-Imputation--master\\data_K_Fold\\abalone\\train\\data_missing_40\\train_1.csv'

In [2]:
import numpy as np
import random

In [3]:
X_train = np.genfromtxt(train_path, delimiter=',')
X_train

array([[   nan,    nan,    nan, ...,    nan,    nan,  3.   ],
       [ 0.67 ,  0.51 ,  0.175, ...,  0.345, 10.   ,  3.   ],
       [ 0.67 ,  0.5  ,  0.19 , ...,  0.415, 10.   ,  3.   ],
       ...,
       [   nan,  0.43 ,  0.15 , ...,  0.22 ,  8.   ,  1.   ],
       [ 0.62 ,  0.485,    nan, ...,  0.352,  9.   ,  1.   ],
       [   nan,    nan,    nan, ...,  0.34 ,    nan,  3.   ]])

In [4]:
test_path = 'C:\\Users\\Administrator\\Desktop\\Code_Test\\Research\\Surveys-Missing-Data-Imputation--master\\data_K_Fold\\abalone\\test\\data_missing_40\\test_1.csv'

In [5]:
X_test = np.genfromtxt(test_path, delimiter=',')
X_test

array([[    nan,  0.195 ,  0.09  , ...,  0.0355,     nan,  2.    ],
       [    nan,     nan,     nan, ...,     nan,     nan,  3.    ],
       [ 0.66  ,  0.53  ,     nan, ...,     nan,     nan,  1.    ],
       ...,
       [    nan,     nan,     nan, ...,     nan,     nan,  2.    ],
       [    nan,     nan,     nan, ...,     nan,     nan,  3.    ],
       [ 0.49  ,  0.39  ,  0.15  , ...,  0.17  , 21.    ,  3.    ]])

In [6]:
X_train[:, -1]

array([3., 3., 3., ..., 1., 1., 3.])

In [7]:
from sklearn.impute import SimpleImputer
import pandas as pd
imp_mean = SimpleImputer( strategy='mean')
imp_mean.fit(X_train[:,:7], X_train[:,-1])
imputed_train_df = imp_mean.transform(X_test[:, :7])
pd.DataFrame(X_test[:,-1])

       0
0    2.0
1    3.0
2    1.0
3    1.0
4    2.0
..   ...
829  2.0
830  3.0
831  2.0
832  3.0
833  3.0

[834 rows x 1 columns]

In [8]:
from sklearn.impute import KNNImputer

In [9]:
X_train

array([[   nan,    nan,    nan, ...,    nan,    nan,  3.   ],
       [ 0.67 ,  0.51 ,  0.175, ...,  0.345, 10.   ,  3.   ],
       [ 0.67 ,  0.5  ,  0.19 , ...,  0.415, 10.   ,  3.   ],
       ...,
       [   nan,  0.43 ,  0.15 , ...,  0.22 ,  8.   ,  1.   ],
       [ 0.62 ,  0.485,    nan, ...,  0.352,  9.   ,  1.   ],
       [   nan,    nan,    nan, ...,  0.34 ,    nan,  3.   ]])

In [10]:
imputer = KNNImputer(n_neighbors=10)
imputer.fit_transform(X_test)

array([[ 0.3595 ,  0.195  ,  0.09   , ...,  0.0355 ,  6.2    ,  2.     ],
       [ 0.5225 ,  0.4085 ,  0.1425 , ...,  0.26035, 10.2    ,  3.     ],
       [ 0.66   ,  0.53   ,  0.1525 , ...,  0.32605, 10.6    ,  1.     ],
       ...,
       [ 0.4055 ,  0.3715 ,  0.112  , ...,  0.1598 ,  7.9    ,  2.     ],
       [ 0.5225 ,  0.4085 ,  0.1425 , ...,  0.26035, 10.2    ,  3.     ],
       [ 0.49   ,  0.39   ,  0.15   , ...,  0.17   , 21.     ,  3.     ]])

In [11]:
imputer.fit(X_train)
imputer.transform(X_test)

array([[ 0.4465 ,  0.195  ,  0.09   , ...,  0.0355 ,  9.     ,  2.     ],
       [ 0.5795 ,  0.4335 ,  0.153  , ...,  0.2421 , 10.8    ,  3.     ],
       [ 0.66   ,  0.53   ,  0.1575 , ...,  0.35295, 11.5    ,  1.     ],
       ...,
       [ 0.457  ,  0.3405 ,  0.11   , ...,  0.102  ,  7.9    ,  2.     ],
       [ 0.5795 ,  0.4335 ,  0.153  , ...,  0.2421 , 10.8    ,  3.     ],
       [ 0.49   ,  0.39   ,  0.15   , ...,  0.17   , 21.     ,  3.     ]])

In [12]:
imputer

KNNImputer(add_indicator=False, copy=True, metric='nan_euclidean',
           missing_values=nan, n_neighbors=10, weights='uniform')

In [45]:
KNNImputer()

KNNImputer(add_indicator=False, copy=True, metric='nan_euclidean',
           missing_values=nan, n_neighbors=5, weights='uniform')

In [14]:
imp = SimpleImputer(strategy = "mean")

In [47]:
SimpleImputer.__name__ +"_"+ imp.strategy

'SimpleImputer_mean'

In [48]:
type(imp.strategy)

str

In [49]:
imp_name =

TypeError: join() takes exactly one argument (2 given)

In [50]:
flag = [1,1,1]
for i,_ in flag:
    print(i)

1
1
1

In [1]:
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import accuracy_score

In [2]:
test_md_y = [0, 1, 2, 2, 2]
predict_label = [0, 0, 2, 2, 1]

In [8]:
_, _, f1_macro, _ = precision_recall_fscore_support(test_md_y, predict_label, average='macro')
accuracy = accuracy_score(test_md_y, predict_label)

In [9]:
f1_macro

0.48888888888888893

In [10]:
accuracy

0.6

In [11]:
f1_micro

0.6

In [12]:
from sklearn.neighbors import KNeighborsClassifier

In [13]:
kneigh = KNeighborsClassifier(n_neighbors=10)

In [17]:
kneigh.__class__.__name__

'KNeighborsClassifier'

In [18]:
from sklearn import tree

In [19]:
clf = tree.DecisionTreeClassifier()

In [20]:
clf.__class__.__name__

'DecisionTreeClassifier'

In [24]:
import numpy as np

In [33]:
a = [1,2,3,4]

In [59]:
from numpy import savetxt
import csv

In [60]:
std = np.std(a)

In [61]:
mean = np.mean(a)

In [72]:
a = [1,2,3,4,std,mean]

In [78]:
import csv

with open('newfilePath.csv', "w") as f:
    writer = csv.writer(f)
    for row in a:
        print(row)
        writer.writerow(str(row))

1
2
3
4
1.0481352526332528
2.269672331458316

In [69]:
savetxt('test.csv', a, delimiter=',')

In [1]:
import numpy as np

In [23]:
a = np.random.rand(10,4)
a

array([[0.71449961, 0.81447519, 0.4907141 , 0.67992064],
       [0.81390847, 0.7127158 , 0.43256118, 0.42323631],
       [0.35488431, 0.37801875, 0.56371913, 0.05130302],
       [0.7561533 , 0.71813108, 0.31901966, 0.6528093 ],
       [0.81438809, 0.71710077, 0.5404173 , 0.51221637],
       [0.24547296, 0.81299418, 0.22808699, 0.87745947],
       [0.6587409 , 0.82935171, 0.13483538, 0.11805721],
       [0.87016717, 0.12488407, 0.69198822, 0.76193006],
       [0.76682954, 0.06409884, 0.8306078 , 0.19675907],
       [0.55839986, 0.71917676, 0.12444165, 0.6897089 ]])

In [24]:
b = np.random.rand(6,4)
b

array([[0.14758937, 0.80613471, 0.04356243, 0.77873385],
       [0.80297753, 0.70425701, 0.82375147, 0.65660998],
       [0.65909254, 0.30470893, 0.51499962, 0.31389572],
       [0.42401596, 0.63437727, 0.31153405, 0.17580596],
       [0.27487432, 0.37354614, 0.6487247 , 0.15836202],
       [0.92498544, 0.46299832, 0.78782906, 0.43516988]])

In [20]:
b.reshape(10,1)

array([[0.21082405],
       [0.67578081],
       [0.72258117],
       [0.44091732],
       [0.93030267],
       [0.87066839],
       [0.93285181],
       [0.38898987],
       [0.09033245],
       [0.84830885]])

In [18]:
b

array([0.21082405, 0.67578081, 0.72258117, 0.44091732, 0.93030267,
       0.87066839, 0.93285181, 0.38898987, 0.09033245, 0.84830885])

In [25]:
np.concatenate((a,b), axis = 0)

array([[0.71449961, 0.81447519, 0.4907141 , 0.67992064],
       [0.81390847, 0.7127158 , 0.43256118, 0.42323631],
       [0.35488431, 0.37801875, 0.56371913, 0.05130302],
       [0.7561533 , 0.71813108, 0.31901966, 0.6528093 ],
       [0.81438809, 0.71710077, 0.5404173 , 0.51221637],
       [0.24547296, 0.81299418, 0.22808699, 0.87745947],
       [0.6587409 , 0.82935171, 0.13483538, 0.11805721],
       [0.87016717, 0.12488407, 0.69198822, 0.76193006],
       [0.76682954, 0.06409884, 0.8306078 , 0.19675907],
       [0.55839986, 0.71917676, 0.12444165, 0.6897089 ],
       [0.14758937, 0.80613471, 0.04356243, 0.77873385],
       [0.80297753, 0.70425701, 0.82375147, 0.65660998],
       [0.65909254, 0.30470893, 0.51499962, 0.31389572],
       [0.42401596, 0.63437727, 0.31153405, 0.17580596],
       [0.27487432, 0.37354614, 0.6487247 , 0.15836202],
       [0.92498544, 0.46299832, 0.78782906, 0.43516988]])

In [1]:
import pandas as pd

In [6]:
d = {'DTree': pd.Series([1,2,3,4], index=['KNN', 'MICE', 'Mean', 'Constant']),
    'KNN': pd.Series([5,8,3,4], index=['KNN', 'MICE', 'Mean', 'Constant'])}

In [7]:
df = pd.DataFrame(d)
df

          DTree  KNN
KNN           1    5
MICE          2    8
Mean          3    3
Constant      4    4

In [57]:
import numpy as np
from sklearn.model_selection import train_test_split
import random
import os
random.seed(42)
X, y = np.random.rand(5,4), range(5)

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
X_train

array([[0.30496917, 0.8484589 , 0.71849316, 0.25478219],
       [0.26169735, 0.71181814, 0.29730694, 0.05213373],
       [0.06413137, 0.2130587 , 0.90989654, 0.87288178]])

In [59]:
def degrade_dataset(X, missingness, rand, v):
    """
    Inputs:
        dataset to corrupt
        % of data to eliminate[0,1]
        rand random state
        replace with = 'zero' or 'nan'
      Outputs:
        corrupted Dataset 
        binary mask
    """
    X_1d = X.flatten()
    n = len(X_1d)
    mask_1d = np.ones(n)
    print(mask_1d)
    corrupt_ids = random.sample(range(n), int(missingness * n))
    print(corrupt_ids)
    for i in corrupt_ids:
        X_1d[i] = v
        mask_1d[i] = 0

    cX = X_1d.reshape(X.shape)
    mask = mask_1d.reshape(X.shape)

    return cX, mask

In [60]:
degrade_dataset(X_train, 0.2, 42, np.nan)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
[10, 1]

(array([[0.30496917,        nan, 0.71849316, 0.25478219],
        [0.26169735, 0.71181814, 0.29730694, 0.05213373],
        [0.06413137, 0.2130587 ,        nan, 0.87288178]]),
 array([[1., 0., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 0., 1.]]))

In [61]:
X_train

array([[0.30496917, 0.8484589 , 0.71849316, 0.25478219],
       [0.26169735, 0.71181814, 0.29730694, 0.05213373],
       [0.06413137, 0.2130587 , 0.90989654, 0.87288178]])

In [62]:
data_K_Fold = "C:\\Users\\DELL\\Desktop\\Research\\Imputation_Surveys\\data_K_Fold"
file_name = 'abalone'

In [63]:
def csv_reader(save_folder, file_name, i, method, missingness):
    '''Loader csv files 
    Args:
    - save_folder: path to save directory
    - file_name: name of UCI datasets (ex: abalone, heart, tic-tac-toe)
    - i: index of fold_size
    - method: original data or missing data 
    - missingness: missingness constant

    Returns:
    - X_train: matrix train data
    - X_test:  matrix test data
    '''
    file_name_folder = os.path.join(save_folder, file_name)
    if method == 'original_data' and missingness == None:
        train_folder = os.path.join(file_name_folder, 'train/original_data')
        check_exist_folder(train_folder)
        test_folder = os.path.join(file_name_folder, 'test/original_data')
        check_exist_folder(test_folder)
        train_path = os.path.join(train_folder, 'train_{}.csv'.format(i))
        test_path = os.path.join(test_folder, 'test_{}.csv'.format(i))
    elif method == 'data_missing':
        train_folder = os.path.join(file_name_folder, 'train/train_{}'.format(i))
        test_folder = os.path.join(file_name_folder, 'test/test_{}'.format(i))
        train_path = os.path.join(train_folder, 'train_{}_missing_{}.csv'.format(i, missingness))
        test_path = os.path.join(test_folder, 'test_{}_missing_{}.csv'.format(i, missingness))
    # Loading train and test csv
    X_train = np.genfromtxt(train_path, delimiter=',')
    X_test = np.genfromtxt(test_path, delimiter=',')

    return X_train, X_test

In [64]:
(D_miss_train, D_miss_test) = csv_reader(data_K_Fold, file_name, 1, method='data_missing', missingness=30)

In [69]:
D_miss_train

array([[    nan,  0.435 ,  0.17  , ...,  0.2705,     nan,  3.    ],
       [ 0.69  ,  0.55  ,  0.18  , ...,  0.5   , 11.    ,  3.    ],
       [    nan,     nan,     nan, ...,     nan, 10.    ,  3.    ],
       ...,
       [ 0.64  ,  0.5   ,  0.17  , ...,  0.354 ,  9.    ,  3.    ],
       [ 0.62  ,  0.485 ,  0.155 , ...,  0.352 ,  9.    ,  1.    ],
       [ 0.49  ,  0.39  ,  0.15  , ...,  0.17  , 21.    ,  3.    ]])

In [71]:
X = D_miss_train.flatten()
X

array([   nan,  0.435,  0.17 , ...,  0.17 , 21.   ,  3.   ])

In [91]:
import math
math.isnan(X[15])

False

In [93]:
nan_id = [i for i, element in enumerate(X) if math.isnan(element)]

[0,
 5,
 7,
 18,
 19,
 20,
 21,
 22,
 24,
 28,
 36,
 42,
 43,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 81,
 83,
 84,
 85,
 86,
 87,
 88,
 91,
 93,
 94,
 97,
 117,
 118,
 119,
 120,
 121,
 123,
 142,
 156,
 157,
 158,
 159,
 160,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 199,
 200,
 201,
 202,
 203,
 204,
 218,
 219,
 222,
 223,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 264,
 279,
 280,
 281,
 284,
 285,
 286,
 325,
 327,
 335,
 338,
 339,
 349,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 387,
 388,
 389,
 391,
 393,
 394,
 396,
 399,
 400,
 403,
 460,
 462,
 463,
 465,
 466,
 477,
 480,
 481,
 482,
 483,
 484,
 581,
 648,
 650,
 651,
 652,
 653,
 654,
 667,
 668,
 670,
 686,
 687,
 690,
 691,
 714,
 716,
 718,
 793,
 795,
 797,
 798,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 819,
 821,
 822,
 823,
 824,
 825,
 826,
 900,
 902,
 905,
 918,
 919,
 922,
 940,
 941,
 990,
 997,
 1044,
 1045,
 1046,
 1047,
 1048,
 1049,
 1051,
 1081,
 1084,
 1085,
 1086,
 1089,
 1091,
 1093,
 1094,
 1095,
 1096,
 1107,
 1110,
 1112,
 1113,
 1114,
 1116,
 1117,
 1118,
 1119,
 1120,
 1121,
 1122,
 1123,
 1125,
 1126,
 1127,
 1128,
 1129,
 1130,
 1152,
 1153,
 1154,
 1155,
 1156,
 1158,
 1159,
 1197,
 1198,
 1202,
 1203,
 1204,
 1224,
 1226,
 1227,
 1228,
 1229,
 1230,
 1231,
 1251,
 1252,
 1253,
 1254,
 1255,
 1256,
 1257,
 1258,
 1279,
 1285,
 1296,
 1300,
 1301,
 1302,
 1314,
 1316,
 1318,
 1320,
 1325,
 1329,
 1352,
 1355,
 1357,
 1459,
 1460,
 1462,
 1463,
 1464,
 1469,
 1485,
 1486,
 1487,
 1488,
 1490,
 1491,
 1492,
 1494,
 1495,
 1497,
 1498,
 1543,
 1548,
 1549,
 1550,
 1554,
 1555,
 1557,
 1558,
 1559,
 1560,
 1561,
 1562,
 1563,
 1564,
 1585,
 1586,
 1587,
 1588,
 1590,
 1591,
 1618,
 1631,
 1632,
 1635,
 1636,
 1665,
 1670,
 1685,
 1692,
 1693,
 1694,
 1695,
 1696,
 1697,
 1698,
 1699,
 1710,
 1712,
 1714,
 1728,
 1731,
 1733,
 1734,
 1828,
 1829,
 1834,
 1922,
 1935,
 1936,
 1937,
 1938,
 1942,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 2016,
 2017,
 2018,
 2019,
 2020,
 2022,
 2023,
 2120,
 2121,
 2128,
 2151,
 2152,
 2153,
 2154,
 2155,
 2156,
 2157,
 2158,
 2160,
 2162,
 2180,
 2184,
 2250,
 2253,
 2254,
 2256,
 2257,
 2259,
 2260,
 2261,
 2262,
 2263,
 2264,
 2265,
 2266,
 2268,
 2269,
 2270,
 2271,
 2272,
 2274,
 2275,
 2277,
 2278,
 2279,
 2280,
 2281,
 2282,
 2283,
 2284,
 2333,
 2336,
 2338,
 2376,
 2377,
 2381,
 2382,
 2412,
 2417,
 2466,
 2467,
 2468,
 2469,
 2470,
 2471,
 2472,
 2473,
 2475,
 2478,
 2481,
 2482,
 2502,
 2505,
 2507,
 2508,
 2520,
 2521,
 2522,
 2523,
 2524,
 2525,
 2526,
 2527,
 2538,
 2539,
 2543,
 2545,
 2568,
 2570,
 2571,
 2572,
 2601,
 2602,
 2603,
 2606,
 2607,
 2628,
 2629,
 2632,
 2633,
 2634,
 2635,
 2696,
 2700,
 2701,
 2702,
 2703,
 2704,
 2705,
 2706,
 2707,
 2709,
 2710,
 2711,
 2712,
 2713,
 2714,
 2715,
 2716,
 2727,
 2728,
 2729,
 2730,
 2732,
 2733,
 2734,
 2736,
 2737,
 2739,
 2740,
 2741,
 2742,
 2743,
 2763,
 2765,
 2766,
 2768,
 2769,
 2802,
 2806,
 2808,
 2809,
 2810,
 2812,
 2813,
 2814,
 2815,
 2848,
 2850,
 2936,
 2937,
 2938,
 2939,
 2940,
 2970,
 2971,
 2972,
 2975,
 2988,
 2989,
 2990,
 2991,
 2992,
 2993,
 2994,
 2995,
 3087,
 3088,
 3089,
 3091,
 3092,
 3093,
 3101,
 3102,
 3135,
 3138,
 3146,
 3168,
 3169,
 3170,
 3171,
 3172,
 3173,
 3175,
 3217,
 3218,
 3234,
 3235,
 3238,
 3264,
 3285,
 3286,
 3287,
 3288,
 3290,
 3291,
 3292,
 3295,
 3297,
 3298,
 3299,
 3301,
 3304,
 3305,
 3306,
 3309,
 3310,
 3312,
 3314,
 3315,
 3316,
 3319,
 3384,
 3391,
 3429,
 3431,
 3434,
 3435,
 3449,
 3450,
 3452,
 3453,
 3454,
 3459,
 3461,
 3519,
 3521,
 3524,
 3638,
 3639,
 3640,
 3641,
 3642,
 3643,
 3654,
 3655,
 3656,
 3657,
 3658,
 3660,
 3661,
 3708,
 3709,
 3712,
 3713,
 3727,
 3728,
 3729,
 3733,
 3772,
 3773,
 3774,
 3777,
 3807,
 3808,
 3809,
 3810,
 3813,
 3814,
 3835,
 3895,
 3906,
 3908,
 3910,
 3913,
 3924,
 3925,
 3926,
 3927,
 3929,
 3931,
 3970,
 3971,
 3972,
 3973,
 3974,
 3976,
 3978,
 3979,
 3980,
 3981,
 3982,
 3983,
 3984,
 3985,
 4024,
 4026,
 4028,
 4032,
 4033,
 4034,
 4036,
 4038,
 4123,
 4158,
 4160,
 4163,
 4164,
 4165,
 4189,
 4191,
 4259,
 4263,
 4295,
 4296,
 4297,
 4299,
 4300,
 4303,
 4307,
 4329,
 4330,
 4331,
 4332,
 4334,
 4335,
 4336,
 4365,
 4366,
 4367,
 4368,
 4369,
 4370,
 4371,
 4372,
 4438,
 4440,
 4441,
 4442,
 4443,
 4444,
 4482,
 4483,
 4484,
 4485,
 4486,
 4487,
 4488,
 4489,
 4583,
 4584,
 4585,
 4588,
 4618,
 4619,
 4621,
 4622,
 4624,
 4645,
 4649,
 4650,
 4651,
 4662,
 4663,
 4698,
 4699,
 4700,
 4702,
 4703,
 4704,
 4705,
 4749,
 4750,
 4806,
 4807,
 4808,
 4809,
 4810,
 4811,
 4812,
 4813,
 4860,
 4861,
 4863,
 4864,
 4865,
 4866,
 4867,
 4923,
 4924,
 4925,
 4930,
 4944,
 4947,
 4987,
 4988,
 4989,
 4990,
 4992,
 4993,
 5008,
 5011,
 5018,
 5031,
 5033,
 5038,
 5158,
 5159,
 5161,
 5163,
 5164,
 5221,
 5224,
 5226,
 5248,
 5249,
 5250,
 5251,
 5252,
 5253,
 5254,
 5256,
 5257,
 5258,
 5261,
 5262,
 5271,
 5272,
 5321,
 5322,
 5325,
 5326,
 5328,
 5332,
 5337,
 5338,
 5339,
 5340,
 5341,
 5342,
 5343,
 5344,
 5409,
 5410,
 5411,
 5412,
 5413,
 5414,
 5415,
 5427,
 5428,
 5429,
 5430,
 5431,
 5432,
 5433,
 5434,
 5494,
 5495,
 5496,
 5497,
 5508,
 5512,
 5522,
 5523,
 5524,
 5572,
 5576,
 5577,
 5583,
 5584,
 5614,
 5661,
 5662,
 5665,
 5666,
 5668,
 5681,
 5682,
 5683,
 5684,
 5685,
 5734,
 5735,
 5736,
 5738,
 5739,
 5751,
 5752,
 5753,
 5754,
 5755,
 5758,
 5791,
 5792,
 5794,
 5823,
 5824,
 5825,
 5826,
 5827,
 5828,
 5829,
 5830,
 5841,
 5842,
 5843,
 5844,
 5845,
 5846,
 5847,
 5848,
 5967,
 5968,
 5969,
 5971,
 5974,
 6057,
 6058,
 6059,
 6060,
 6062,
 6063,
 6064,
 6066,
 6067,
 6068,
 6069,
 6070,
 6071,
 6072,
 6073,
 6111,
 6112,
 6114,
 6115,
 6117,
 6118,
 6210,
 6211,
 6213,
 6214,
 6216,
 6217,
 6247,
 6249,
 6256,
 6257,
 6258,
 6261,
 6262,
 6273,
 6274,
 6275,
 6277,
 6278,
 6280,
 6327,
 6328,
 6329,
 6330,
 6331,
 6332,
 6333,
 6355,
 6372,
 6373,
 6374,
 6375,
 6376,
 6377,
 6378,
 6379,
 6383,
 6387,
 6388,
 6417,
 6419,
 6420,
 6421,
 6422,
 6423,
 6424,
 6427,
 6430,
 6431,
 6432,
 6436,
 6438,
 6441,
 6489,
 6507,
 6508,
 6509,
 6510,
 6512,
 6513,
 6514,
 6518,
 6519,
 6520,
 6521,
 6523,
 6562,
 6579,
 6580,
 6581,
 6582,
 6583,
 6597,
 6598,
 6599,
 6600,
 6601,
 6602,
 6603,
 6604,
 6607,
 6608,
 6609,
 6611,
 6612,
 6613,
 6618,
 6621,
 6642,
 6644,
 6687,
 6707,
 6708,
 6709,
 6712,
 6724,
 6727,
 6759,
 6760,
 6761,
 6766,
 6770,
 6771,
 6772,
 6773,
 6774,
 6813,
 6818,
 6820,
 6843,
 6975,
 7065,
 7066,
 7067,
 7068,
 7070,
 7071,
 7072,
 7075,
 7077,
 7080,
 7086,
 7110,
 7112,
 7113,
 7114,
 7115,
 7116,
 7117,
 7151,
 7155,
 7158,
 7161,
 7164,
 7169,
 7170,
 7191,
 7192,
 7193,
 7194,
 7195,
 7196,
 7197,
 7198,
 7200,
 7204,
 7205,
 7206,
 7207,
 7263,
 7265,
 7267,
 7269,
 ...]

In [96]:
def mask_generation(missing_matrix):
    data_1d = missing_matrix.flatten()
    n_data = len(data_1d)
    mask_1d = np.ones(n_data)
    
    nan_id = [i for i, element in enumerate(data_1d) if math.isnan(element)]
    for i in nan_id:
        mask_1d[i] = 0
    
    mask = mask_1d.reshape(missing_matrix.shape)
    
    return missing_matrix, mask